body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-text{
  color: #606080;
  font-weight: 500;
  margin-top: 8px;
  font-size: 17px;
}

.top-left{
  position: absolute;
  top: 8px;
  left: 16px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.tag-card{
  margin: 10px 0 0 20px;
  color: #806a76;
}

.tourName {
  color: '#f48fb1';
  font-size: 18px;
  margin: 0 0 0 4px;
  font-weight: 500;
}

.tagEmpity{
  color: red;
  text-align: start;
  border: 1px solid red;
  margin-top: 10px;
  padding: 7px 5px;
}